{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение покупки</title>
    <link rel="stylesheet" href="{% static 'vendor/css/styles.css' %}">
</head>
<body>
    <div class="confirmation-container">
        {% for object in object_list %}
            <h2>Вы успешно купили билет с номером: {{ object.invoiceId }}</h2>
        {% endfor %}
        <p>Билет был отправлен на вашу почту! </p>
        <a href="{% url 'bilets:index' %}" class="button">На главную</a>
    </div>
</body>
</html>
